.button {
	display: inline-block;
	width: 200px;
	border-radius: 8px;
	border: 2px solid #565656;
	padding: 10px 20px;
	color: #565656;
	transition: color, background-color .6s;
	cursor: pointer;
	text-align: center;
}

.button:hover {
	background-color: #adadad;
	color: white;
	border: 2px solid #adadad;

}

.button.-success {
	background-color: #23db57;
	border: none;
	color: #fff;
}

.button.-success:hover {
	background-color: #268540;
}

@media screen and ( max-width: 580px ) {
	
	.hero__actions {
		justify-content: center;
	}

	.button {
		min-width: 50%;
	}

}


@media screen and ( max-width: 767px ) {

 .button {
 	align-items: center;
 	text-align: center;
 	width: 150px; 
 }

}

@media screen and ( max-width: 500px ) {

	.button {
		width: 45%;
	}

	.button.-success {
		margin-right: auto;
	}

}
