.footer {
	background-color: #565656;
	padding-bottom: 10px;
	padding-top: 34px;
}

.footers {
	display: flex;
}

.subtitle {
	color: white;
	display: flex;
}

.points {
	margin-left: 40px;
	margin-top: 5px;
	color: white;
}

.time {
	margin-top: 20px;
	margin-bottom: 10px;
	color: white;
	text-align: center;
}


@media screen and ( max-width: 500px ) {
	
.footers {
	display: block;
}	

.subtitle {
	display: block;
}

.points {
	margin-left: 0px;
}

.in-transfer {
	margin: 15px 0px 15px 0px;
}

}